#pagination {
  /* align component in the center */
  width: fit-content;
  margin: auto;
}

#pagination .page-number {
  background-color: var(--bg-color-1);
  color: var(--lagoon-color);
  margin-left: 5px;
}

#pagination .page-number.active {
  background-color: var(--lagoon-color);
  color: var(--color-2);
}
