#article-content {
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#article-content .article-text {
  border-bottom: var(--item-separator-1);
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#article-content #article-actions {
  align-self: flex-end;
}
