#header {
  align-items: center;
  background-color: var(--lagoon-color);
  border-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 50px;
  row-gap: 10px;
}

#header .home-icon {
  height: 50px;
  width: auto;
}

#header .menu-icon {
  height: 30px;
}

#header .input-group {
  flex-wrap: nowrap;
  width: auto;
}

#header .input-group {
  .form-control-label {
    flex-grow: 1;
  }
  .form-control {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    flex-grow: 5;
  }
  .btn {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

#header .btn {
  background-color: var(--bg-color-1);
  border: none;
  border-left: 1px solid;
  color: var(--color-1);
}

#header .dropdown-toogle {
  background-color: transparent;
  border: none;
}

#header .search-suggestions-dropdown {
  background-color: var(--bg-color-1);
  border-radius: 10px;
  box-shadow: var(--box-shadow-1);
  position: absolute;
  top: 40px;
  width: 100%;
}

#header .search-suggestions-dropdown-item-container {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 5px;
}

#header .search-suggestions-dropdown-item {
  display: inline-flex;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
}

#header .search-suggestions-dropdown-item-icon {
  max-height: 25px;
  margin-left: 10px;
}

#header .search-suggestions-dropdown-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

@media (max-width: 470px) {
  #header #search-field {
    order: 1;
  }
}
