#topic-tree {
  box-shadow: 0 0 10px 3px #ddd;
  padding: 20px;
}

#topic-tree .topics-item-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: var(--primary-border);
}
