#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #eee;
  border-bottom: 2px;
}

#header .home-icon {
  height: 50px;
  width: auto;
}

#header .menu-icon {
  height: 30px;
}

#header .input-group {
  width: auto;
}

#header .btn {
  background-color: #dce1e7;
}

#header .dropdown-toogle {
  background-color: transparent;
}

#header .search-suggestions-dropdown {
  position: absolute;
  top: 40px;
  background-color: #fff;
  width: 100%;
}

#header .search-suggestions-dropdown-item-container {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 5px;
}

#header .search-suggestions-dropdown-item {
  display: inline-flex;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
}

#header .search-suggestions-dropdown-item-icon {
  max-height: 25px;
  margin-left: 10px;
}

#header .search-suggestions-dropdown-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}
