#create-article-form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#create-article-form .btn {
  margin-top: 10px;
}
#create-article-form .create-topic-button,
.create-article-button {
  background-color: var(--lagoon-color);
  border: 1px solid var(--lagoon-color);
  border-radius: 10px;
  color: var(--color-2);
}
#create-article-form .create-article-button:hover {
  background-color: var(--lagoon-color);
  color: var(--color-2);
}

#create-article-form textarea {
  height: 300px;
}

#create-article-form .validation-error {
  color: #ff3333;
  font-size: 12px;
}

#create-article-form #new-topic-name {
  margin-top: 10px;
}

#create-article-form #create-topic-modal .btn-primary {
  background-color: var(--lagoon-color);
  border: 1px solid var(--lagoon-color);
  border-radius: 10px;
  color: var(--color-2);
}

#create-article-form #create-topic-modal .btn-secondary {
  background-color: var(--bg-color-1);
  border: 1px solid var(--lagoon-color);
  border-radius: 10px;
  color: var(--lagoon-color);
}
