#search-results-list {
  box-shadow: var(--box-shadow-1);
  padding-top: 10px;
  /* Leave space between page number(s) and border bottom */
  padding-bottom: 20px;
}

#search-results-list .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 35px 20px 45px;
}

#search-results-list .search-results-count {
  margin: 5px;
  padding: 3px 10px;
  background-color: var(--bg-color-2);
  color: var(--color-2);
}

#search-results-list .search-results {
  margin-left: 40px;
  margin-right: 40px;
}

#search-results-list .search-results-item-container {
  margin-bottom: 20px;
}

#search-results-list .search-results-item {
  display: flex;
  width: auto;
  padding-bottom: 10px;
  border-bottom: var(--border-1);
  white-space: nowrap;
  overflow: hidden;
}

#search-results-list .search-results-item-container:last-child {
  .search-results-item {
    border-bottom: 0;
  }
}

#search-results-list .search-results-item-icon {
  max-height: 30px;
}

#search-results-list .search-results-item-text {
  margin-left: 10px;
}
