#search-results-list {
  border: var(--primary-border);
  /* Align with header menu */
}

#search-results-list .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 35px 20px 45px;
}

#search-results-list .search-results-count {
  margin: 5px;
  padding: 3px 10px;
  background-color: #000;
  color: #fff;
}

#search-results-list .search-results-item-container {
  margin-bottom: 20px;
}

#search-results-list .search-results-item {
  display: flex;
  width: auto;
  margin: 10px 40px;
  padding-bottom: 10px;
  border-bottom: var(--primary-border);
  white-space: nowrap;
  overflow: hidden;
}

#search-results-list .search-results-item-container:last-child {
  .search-results-item {
    border-bottom: 0;
  }
}

#search-results-list .search-results-item-icon {
  max-height: 30px;
}

#search-results-list .search-results-item-text {
  margin-left: 10px;
}
