#topic-block {
  border-radius: 10px;
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 120px;
  padding: 10px 20px;
}

#topic-block .topic-heading-container h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

#topic-block .topic-articles {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

#topic-block .topic-articles .topic-article-container {
  height: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 2s, height 0.5s;
  opacity: 0;
}

#topic-block:hover > .topic-articles > .topic-article-container {
  height: 26px;
  opacity: 1;
}

#topic-block .article-count {
  margin-bottom: 0;
  align-self: flex-end;
}

#topic-block .article-count.placeholder {
  position: relative;
  top: 35px;
}
