#bookmarks-list {
  border: var(--primary-border);
  padding: 20px;
}
#bookmarks-list .bookmarks-list-item-remove-button {
  background-color: var(--default-bg-color);
  border: none;
}
#bookmarks-list .remove-bookmark-icon {
  height: 20px;
}
#bookmarks-list .bookmarks-list-item-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
