:root {
  /* Variables */
  --lagoon-color: #0e847f;
  --bg-color-1: light-dark(#fff, #121212);
  --bg-color-2: light-dark(#121212, #fff);
  --border-1: 1px solid #333;
  --box-shadow-1: 0 0 10px 3px #ddd;
  --color-1: light-dark(#111, #fff);
  --color-2: light-dark(#fff, #111);
  --item-separator-1: 1px solid #333;
  color-scheme: light;
}

body {
  background-color: var(--bg-color-1);
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

html,
body,
#root {
  height: 100%;
}

#root {
  /* Used to keep footer at the bottom */
  display: flex;
  flex-direction: column;
}

#body-container {
  padding: 50px;
  /* Keep footer at the bottom */
  flex-grow: 2;
}

/* #loader {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
} */

p {
  margin: 0;
}

body ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  margin-bottom: 2px;
}

a {
  text-decoration: none;
  color: #111;
}

a:hover {
  color: var(--lagoon-color);
}

.dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

.dropdown-menu .dropdown-item:active {
  background-color: transparent;
}
