:root {
  /* Variables */
  --primary-color: light-dark(#111, #fff);
  --secondary-color: light-dark(#fff, #111);
  --default-bg-color: transparent;
  --primary-bg-color: light-dark(#fff, #121212);
  --secondary-bg-color: light-dark(#121212, #fff);
  --primary-component-bg-color: #eee;
  --primary-border: 1px solid #ccc;

  color-scheme: light;
}

body {
  background-color: var(--primary-bg-color);
}

p {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  /* Used to keep footer at the bottom */
  display: flex;
  flex-direction: column;
}

#body-container {
  padding: 50px;
  /* Keep footer at the bottom */
  flex-grow: 2;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  margin-bottom: 2px;
}

a {
  text-decoration: none;
  color: #111;
}
