#topic-tree {
  box-shadow: var(--box-shadow-1);
  padding: 20px;
  .topics-item-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: var(--border-1);
    .topics-item-text {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
